<div class="banner">
  <div class="banner-titles">
    <h1>Credit House</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/img/login.png" alt="representacion-login">
    </div>


    <div class="col-md-6">

      <div class="logo">
        <img src="../../../assets/img/logo-fondo.png" alt="logo-con-fondo">
        <span> Inicio de sesión</span>
      </div>

      <form [formGroup]="formInfo" (ngSubmit)="sendForm()">
        <div>
          <label class="form-label">Usuario</label>
        </div>
        <div class="mb-3">
          <input formControlName="user" type="text" class="form-control">
        </div>
        <div *ngIf="
                 formInfo.get('user')?.hasError('required') &&
                 formInfo.get('user')?.touched
                 ">
          <span class="mda-form-msg"> Este campo es obligatorio </span>
        </div>
        <div *ngIf="formInfo.get('user')?.hasError('user')">
          <span class="mda-form-msg">
            Este campo no tiene formato de correo
          </span>
        </div>


        <div>
          <label class="form-label">Contraseña</label>
        </div>
        <div class="mb-3">
          <input formControlName="password" type="password" class="form-control">
        </div>
        <div *ngIf="
                 formInfo.get('password')?.hasError('required') &&
                 formInfo.get('password')?.touched
                 ">
          <span class="mda-form-msg"> Este campo es obligatorio </span>
        </div>

        <br />
        <button type="submit" class="btn-primary"><span>Ingresar</span></button>
        <div class="btns-alternative">
          <span>¿Tienes cuenta? </span>
          <button routerLink="">
            <span>Crear cuenta</span> </button>
        </div>

      </form>
    </div>


  </div>
</div>