<div class="title">
  <a class="icon-title">CreditHouse</a>
</div>

 <div class="container">
  <div class="row">
     <div class="col-md-6">
     
        <div class="card">
          <div class="img">
            <img   src="../../../assets/login.png"alt="representacion-login">
          </div>
              <form [formGroup]="formInfo" (ngSubmit)="sendForm()" >
                 <div class="logo">
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>  
                  <img  src="../../../assets/logo1.jpg" alt="logo-con-fondo">
                  <br/> 
                  <br/> 
                  
                    <span style="font-weight: bold; font-family: 'Be Vietnam', sans-serif;text-align: center;">Registro</span>
                  </div>
                  <br/>
                  <br/>
                  <br/>
                    <div>
                      <label tyle="font-weight: bold; font-family: 'Be Vietnam', sans-serif;">Nombres </label>
                    </div>
                    <div class="col-lg-12">
                     <input  formControlName="name" type="text" class="form-control"/>
                    </div>
                   <div 
                     *ngIf="
                     formInfo.get('name')?.hasError('required') &&
                       formInfo.get('name')?.touched
                     "
                   >
                     <span class="mda-form-msg"> Este campo es obligatorio </span>
                   </div>
                   <div
                     *ngIf="formInfo.get('name')?.hasError('maxlength')"
                   >
                     <span class="mda-form-msg">
                       Este campo debe tener como máximo 20 caracteres
                     </span>
                   </div>
                
                 
                    <div>
                      <label class="form-label">Apellidos</label>
                    </div>
                    <div class="col-lg-12">
                      <input formControlName="lastName" type="text" class="form-control"/>
                    </div>
                     
              
                   <div
                     *ngIf="
                     formInfo.get('lastName')?.hasError('required') &&
                     formInfo.get('lastName')?.touched
                     "
                   >
                     <span class="mda-form-msg"> Este campo es obligatorio </span>
                   </div>
                   <div
                     *ngIf="formInfo.get('lastName')?.hasError('maxlength')"              
                   >
                     <span class="mda-form-msg">
                       Este campo debe tener como máximo 20 caracteres
                     </span>
                   </div>
                   <div>
                    <label class="form-label">Usuario</label>
                  </div>
                  <div class="col-lg-12">
                    <input formControlName="username" />
                  </div>
                   
            
                 <div
                   *ngIf="
                   formInfo.get('username')?.hasError('required') &&
                   formInfo.get('username')?.touched
                   "
                 >
                   <span class="mda-form-msg"> Este campo es obligatorio </span>
                 </div>
                 <div>
                  <label class="form-label">Compañía</label>
                </div>
                <div class="col-lg-12">
                  <input formControlName="company" />
                </div>
                 
          
               <div
                 *ngIf="
                 formInfo.get('company')?.hasError('required') &&
                 formInfo.get('company')?.touched
                 "
               >
                 <span class="mda-form-msg"> Este campo es obligatorio </span>
               </div>
                 <div>
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                 </div>
              
                 <div class="col-lg-12">
                   <input formControlName="email" type="text" class="form-control" aria-describedby="emailHelp" >                  
                 </div>
                 <div
                 *ngIf="
                 formInfo.get('user')?.hasError('required') &&
                 formInfo.get('user')?.touched
                 "
               >
                 <span class="mda-form-msg"> Este campo es obligatorio </span>
               </div>
               <div
                 *ngIf="formInfo.get('user')?.hasError('user')"
                    >
                 <span class="mda-form-msg">
                   Este campo no tiene formato de correo
                 </span>
               </div>
                 
                 <br/>
                 
                 <div>
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                 </div>
                 <div class="col-lg-12"> 
                   <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                 </div>
                 <div
                 *ngIf="
                 formInfo.get('password')?.hasError('required') &&
                 formInfo.get('password')?.touched
                 "
               >
                 <span class="mda-form-msg"> Este campo es obligatorio </span>
               </div>
               <div>
                <label for="exampleInputPassword1" class="form-label">Repita Contraseña</label>
              </div>
              <div class="col-lg-12"> 
               <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
               </div>
              <div
              *ngIf="
              formInfo.get('password')?.hasError('required') &&
               formInfo.get('password')?.touched
               "
              >
             <span class="mda-form-msg"> Este campo es obligatorio </span>
           </div>
                 <br/>
                 <button type="submit" class="btn btn-primary"><span>Registrar</span></button>
             
                       

                 
              
      </form>
        </div>
        
     </div>

  </div>
</div>