
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.container{
    position: relative;
    max-width: 1500px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 30px;
    color: #333;
    font-weight: 900;
    text-align: center;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    width: 100%;
    background-color: white;
    transition: 0.3s ease;
}

.contenedor-2{
    width: 500px;
    height: auto;
    border: 2px solid #000000;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    text-transform: capitalize;
    border-radius: 20px;

}

.contenedor-3{
    width: 500px;
    height: 15%;
    background-color: #d5f08b;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
 
    text-transform: capitalize;
    border-radius: 20px;

}

.form-first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.container form .form-first.element{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    width: calc(100% / 2 - 15px);
    flex-direction: row;
}
.input-field label{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    margin-right: 15px;
}
.input-field input, select{
   
    Display:row;
    justify-content: flex-end;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    padding: 0 15px;
    height: 30px;
    width: 50%;
    margin: 8px 0;
    background-color: #f7fde0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    margin-right: 20px;
    background-color: #93A603;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #d7f205;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
