<app-banner [login]="true"></app-banner>
<ng-container *ngIf="dataEntidades$| async as enti">
    <div [hidden]="vercrono">
        <div class="back">
            <div class="container">
                <header>Registro de Proforma</header>
                <form [formGroup]="myForm" autocomplete="on" (change)="crearDatosForm()">
                    <div class="form-first">
                        <div class="element">
                            <div class="content">

                                <span class="title">Ingrese el DNI del cliente</span>
                                <div class="contenedor-3">
                                    <div class="input-field">
                                        <label>DNI</label>
                                        <input type="text" formControlName="dniclient">
                                    </div>

                                </div>
                                <div class="error-message">
                                    <span *ngIf="myForm.get('dniclient')?.invalid 
                                && myForm.get('dniclient')?.touched" class="advice">
                                        El DNI no tiene un formato correcto </span>

                                    <span class="advice" *ngIf="myForm.get('dniclient')?.valid"
                                        [ngStyle]="{'color': exist ? 'green' : 'red' }">
                                        {{ error }} </span>
                                </div>



                                <div class="contenedor-3">
                                    <div class="input-field">
                                        <label>Moneda</label>
                                        <select formControlName="moneda">
                                            <option disabled selected>Seleccionar</option>
                                            <option>S/. PEN</option>
                                            <option>$ US</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="error-message">
                                    <span *ngIf="myForm.get('moneda')?.invalid && myForm.get('moneda')?.touched"
                                        class="advice"> Selecciona el tipo de moneda</span>
                                </div>

                                <div class="contenedor-3">
                                    <div class="input-field">
                                        <label>Entidad Financiera</label>
                                        <select formControlName="entidad" (change)="setMinandMax()">
                                            <option disabled selected>Seleccionar</option>
                                            <option [ngValue]="ent" *ngFor="let ent of enti">
                                                {{ ent.name }} </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="error-message">
                                    <span *ngIf="myForm.get('entidad')?.invalid && myForm.get('entidad')?.touched"
                                        class="advice"> Selecciona una entidad financiera </span>
                                </div>

                                <ul class="contenedor-2">

                                    <div class="input-field">
                                        <label>% de Cuota Inicial</label>
                                        <input type="number" step="0.01" formControlName="porc_cuotaini" readonly>
                                    </div>
                                    <div class="input-field">
                                        <label>* Bono del Buen Pagador ({{ simbo }}) </label>
                                        <input type="number" step="0.01" formControlName="bbp" readonly>
                                    </div>
                                    <span>*El monto incluye el adicional en caso el immueble sea sostenible
                                    </span>
                                    <div class="input-field">
                                        <label>Monto a financiar ({{ simbo }}) </label>
                                        <input type="number" step="0.01" formControlName="monto_prestamo" readonly>
                                    </div>
                                    <div class="input-field">
                                        <label>Tasa Costo Efectiva Anual en % </label>
                                        <input type="number" step="0.01" formControlName="tcea" readonly>
                                    </div>
                                    <div class="input-field">
                                        <span class="title">Información de financiamiento <br /></span>
                                        <input type="text" formControlName="info" readonly>
                                    </div>



                                </ul>
                                <div class="botones-container">
                                    <button [disabled]="myForm.invalid" type="button" (click)="saveForm()"
                                        mat-raised-button>
                                        Guardar
                                    </button>
                                    <button [disabled]="myForm.invalid" type="button" (click)="verCronograma()"
                                        mat-raised-button>
                                        Ver cronograma
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="element">
                            <div class="content">
                                <span class="title">Realizado por: <span
                                        style="font-weight: bold; margin-left: 20px">{{asesor}}</span></span>
                                <br>
                                <span class="title">Información sobre el Inmueble</span>

                                <div class="input-field">
                                    <label>Precio del inmueble ({{ simbo }}) </label>
                                    <input type="number" step="0.01" formControlName="price" [min]="mminimo"
                                        [max]="mmaximo" [readonly]="!DatosIniIngresados()">
                                </div>
                                <span *ngIf="myForm.get('price')?.hasError('max')
                                && myForm.get('price')?.touched" class="advice">
                                    El precio es mayor al máximo de {{ simbo }} {{ mmaximo.toFixed(2) }} </span>
                                <span *ngIf="myForm.get('price')?.hasError('min')
                                    && myForm.get('price')?.touched" class="advice">
                                    El precio es menor al mínimo de {{ simbo }} {{ mminimo.toFixed(2) }}</span>
                                <span *ngIf="myForm.get('price')?.hasError('pattern')
                                    && myForm.get('price')?.touched" class="advice">
                                    Ingrese un numero positivo entero o decimal.</span>

                                <div class="input-field">
                                    <label>Cuota inicial ({{ simbo }}) </label>
                                    <input type="number" formControlName="cuota_initial" [min]="c_inicial" [max]="c_initialmax"
                                        [readonly]="!DatosIniIngresados()">
                                </div>
                                <span *ngIf="myForm.get('cuota_initial')?.hasError('min')
                                    && myForm.get('cuota_initial')?.touched" class="advice">
                                    La cuota inicial es menor al {{ c_inicial_por }} % del precio del inmueble</span>
                                    <span *ngIf="myForm.get('cuota_initial')?.hasError('max')
                                    && myForm.get('cuota_initial')?.touched" class="advice">
                                    La cuota inicial es mayor al 30% del precio del inmueble</span>


                                <div class="input-field">
                                    <label>¿Ha recibido apoyo <br /> habitacional anteriormente?</label>
                                    <select formControlName="apoyo">
                                        <option disabled selected>Seleccionar</option>
                                        <option> Si </option>
                                        <option> No </option>

                                    </select>
                                </div>
                                <span *ngIf="myForm.get('apoyo')?.invalid && myForm.get('apoyo')?.touched"
                                    class="advice"> Selecciona una respuesta</span>

                                <div class="input-field">
                                    <label>¿Es una vivienda sostenible?</label>
                                    <select formControlName="sostenible">
                                        <option disabled selected>Seleccionar</option>
                                        <option> Si </option>
                                        <option> No </option>

                                    </select>

                                </div>
                                <span *ngIf="myForm.get('sostenible')?.invalid && myForm.get('sostenible')?.touched"
                                    class="advice"> Selecciona una respuesta</span>

                                <span class="title">Información de financiamiento</span>

                                <div class="input-field">
                                    <label>Tasa Efectiva Anual % </label>
                                    <input type="number" step="0.01" formControlName="tea" [min]="t_min" [max]="t_max"
                                        [readonly]="!DatosIniIngresados()">
                                </div>
                                <span *ngIf="myForm.get('tea')?.hasError('min')
                                    && myForm.get('tea')?.touched" class="advice">
                                    La tasa es menor al {{ t_min }} %</span>
                                <span *ngIf="myForm.get('tea')?.hasError('max')
                                    && myForm.get('tea')?.touched" class="advice">
                                    La tasa es mayor al {{ t_max }} %</span>

                                <div class="input-field">
                                    <label>Seguro Desgravamen Anual % (*)</label>
                                    <input type="number" step="0.01" formControlName="segdegra"
                                        [readonly]="!DatosIniIngresados()">
                                </div>

                                <div class="input-field">
                                    <label>Seguro de Inmueble Anual % (**)</label>
                                    <input type="number" step="0.01" formControlName="seginm"
                                        [readonly]="!DatosIniIngresados()">
                                </div>

                                <div class="input-field">
                                    <label>Plazo (en meses)</label>
                                    <input type="number" formControlName="plazo" [min]="pminimo" [max]="pmaximo"
                                        [readonly]="!DatosIniIngresados()">
                                </div>
                                <span *ngIf="myForm.get('plazo')?.hasError('min')
                                    && myForm.get('plazo')?.touched" class="advice">
                                    El plazo es menor a {{ pminimo }} meses </span>
                                <span *ngIf="myForm.get('plazo')?.hasError('max')
                                    && myForm.get('plazo')?.touched" class="advice">
                                    El plazo es mayor a {{ pmaximo }} meses </span>
                                <span *ngIf="myForm.get('plazo')?.hasError('pattern')
                                    && myForm.get('plazo')?.touched" class="advice">
                                    Solo puede ingresar números enteros positivos</span>

                                <div class="input-field">
                                    <label>Tipo de periodo de gracia </label>
                                    <select formControlName="tipo">
                                        <option disabled selected>Seleccionar</option>
                                        <option> Ninguno </option>
                                        <option> Parcial </option>
                                        <option> Total </option>

                                    </select>
                                </div>
                                <span *ngIf="myForm.get('tipo')?.invalid && myForm.get('tipo')?.touched"
                                class="advice"> Selecciona una respuesta</span>
                                <span *ngIf="selectTipo != ''"
                                class="advice">  {{ selectTipo }} </span>

                                <div class="input-field">
                                    <label>Periodo de Gracia (en meses) </label>
                                    <input type="number" formControlName="periodo_gracia" [min]="(ningun_plazo ? 0 : 1)" [max]="6"
                                        [readonly]="!DatosIniIngresados()">
                                </div>
                                <div *ngIf="!ningun_plazo">
                                    <div *ngIf="myForm.get('periodo_gracia')?.value == 0">
                                    <span *ngIf="myForm.get('periodo_gracia')?.hasError('min')
                                " class="advice">
                                        El valor ingresado no debe ser menor que {{ningun_plazo ? '0' : '1'}}.</span>
                                    <span *ngIf="myForm.get('periodo_gracia')?.hasError('max')
                                " class="advice">
                                        El valor ingresado no debe ser mayor que 6.</span>
                                    </div>
                                    <span *ngIf="myForm.get('periodo_gracia')?.hasError('pattern')
                                && myForm.get('periodo_gracia')?.touched" class="advice">
                                        Solo puede ingresar números enteros positivos</span>
                                </div>

                                <span class="title" style="font-size: 13px;">* Valor referencial para seguro degravamen 0.035%</span>
                                <span class="title" style="font-size: 13px;"s>** Valor referencial para seguro del inmueble 0.3%</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div [hidden]="!vercrono">
        <div class="back">
            <div class="container">

                <button mat-fab (click)="vercrono=false" aria-label="button" class="button-back">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <header>Cronograma de Pagos Mensuales</header>
                <div class="vanytir">
                    <span class="title"> <strong>TIR: </strong> {{tir}}</span>
                    <span class="title"> <strong>VAN: </strong> {{van}}</span>
                </div>
                <div class="col-lg-6">
                    <div class="mat-elevation-z8 demo-table">
                        <table mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="period">
                                <th mat-header-cell *matHeaderCellDef> Periodo </th>
                                <td mat-cell *matCellDef="let element">{{element.period}}</td>
                            </ng-container>

                            <ng-container matColumnDef="saldoini">
                                <th mat-header-cell *matHeaderCellDef> Saldo Inicial </th>
                                <td mat-cell *matCellDef="let element">{{element.saldoini}}</td>
                            </ng-container>

                            <ng-container matColumnDef="amortization">
                                <th mat-header-cell *matHeaderCellDef> Amortización </th>
                                <td mat-cell *matCellDef="let element">{{element.amortization}}</td>
                            </ng-container>

                            <ng-container matColumnDef="intereses">
                                <th mat-header-cell *matHeaderCellDef> Intereses </th>
                                <td mat-cell *matCellDef="let element">{{element.intereses}}</td>
                            </ng-container>

                            <ng-container matColumnDef="seguro_degr">
                                <th mat-header-cell *matHeaderCellDef> Seguro Degravamen </th>
                                <td mat-cell *matCellDef="let element">{{element.seguro_degr}}</td>
                            </ng-container>

                            <ng-container matColumnDef="seguro_inm">
                                <th mat-header-cell *matHeaderCellDef> Seguro Inmueble </th>
                                <td mat-cell *matCellDef="let element">{{element.seguro_inm}}</td>
                            </ng-container>

                            <ng-container matColumnDef="saldofini">
                                <th mat-header-cell *matHeaderCellDef> Saldo Final </th>
                                <td mat-cell *matCellDef="let element">{{element.saldofini}}</td>
                            </ng-container>

                            <ng-container matColumnDef="cuota_mensual">
                                <th mat-header-cell *matHeaderCellDef> Cuota Mensual </th>
                                <td mat-cell *matCellDef="let element">{{element.cuota_mensual}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div class="justify-center content-center text-[20px] w-[70%] mx-auto mt-[40px]">
        <p>Loading.......</p>
    </div>
</ng-template>