<body>
    <div class="container">
        <header>Registro de Proforma</header>
        <form>
            <div class="form-first">
                <div class="element">
                    <div class="content">
                        <div class="contenedor-3">
                            <div class="input-field">
                                <label>Usuario</label>
                                <input type="text" required>
                            </div>

                        </div>

                        <span class="title">Información sobre el Inmueble</span>

                        <div class="input-field">
                            <label>Precio del inmueble</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Cuota inicial</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>¿Es una vivienda sostenible?</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>¿Ha recibido apoyo <br /> habitacional anteriormente?</label>
                            <input type="text" required>
                        </div>

                        <span class="title">Información de financiamiento</span>

                        <div class="input-field">
                            <label>Tasa Efectiva Anual</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Seguro Desgravamen Anual</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Seguro de Inmueble Anual</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Plazo (en meses)</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Periodo de Gracia (en meses)</label>
                            <input type="text" required>
                        </div>


                    </div>
                </div>
                <div class="element">
                    <div class="content">
                        <div class="contenedor-3">
                            <div class="input-field">
                                <label>Moneda</label>
                                <select required>
                                    <option disabled selected>Seleccionar</option>
                                    <option>S/. PEN</option>
                                    <option>$ US</option>

                                </select>
                            </div>
                        </div>

                        <div class="contenedor-3">
                            <div class="input-field">
                                <label>Entidad Financiera</label>
                                <select required>
                                    <option disabled selected>Seleccionar</option>
                                    <option>BCP</option>
                                    <option>Interbank</option>

                                </select>
                            </div>
                        </div>

                        <ul class="contenedor-2">

                            <div class="input-field">
                                <label>% de Cuota Inicial</label>
                                <input type="text" required>
                            </div>
                            <div class="input-field">
                                <label>Bono del Buen Pagador *</label>
                                <input type="text" required>
                            </div>
                            <span>*El monto incluye el adicional en caso el immueble sea sostenible
                            </span>
                            <div class="input-field">
                                <label>Monto a financiar</label>
                                <input type="text" required>
                            </div>
                            <div class="input-field">
                                <label>Tasa Costo Efectiva Anual</label>
                                <input type="text" required>
                            </div>
                            <div class="input-field">
                                <span class="title">Información de financiamiento<br /></span>
                                <input type="text" required>
                            </div>



                        </ul>
                        <div class="botones-container">
                            <button class="nextBtn">
                                <span class="btnText">Ver Cronograma</span>

                            </button>

                            <button class="nextBtn">
                                <span class="btnText">Guardar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>