<app-banner [login]="true"></app-banner>
<ng-container *ngIf="dataProform$| async as prof">
    <div class="back">
        <div class="container">
            <header>Lista de Proformas</header>
            <div class="col-lg-6">
                <div class="mat-elevation-z8 demo-table">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="cod">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element">{{element.form_id}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dni">
                            <th mat-header-cell *matHeaderCellDef> DNI Cliente </th>
                            <td mat-cell *matCellDef="let element">{{element.client_id}}</td>
                        </ng-container>

                        <ng-container matColumnDef="ase">
                            <th mat-header-cell *matHeaderCellDef> Asesor </th>
                            <td mat-cell *matCellDef="let element">{{element.asesor }}</td>
                        </ng-container>

                        <ng-container matColumnDef="fec">
                            <th mat-header-cell *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element">{{element.fecha | date:'dd/MM/y'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="prec">
                            <th mat-header-cell *matHeaderCellDef> Precio del inmueble </th>
                            <td mat-cell *matCellDef="let element">{{ element.currency.split(' ')[0]}} {{ element.price
                                }}</td>
                        </ng-container>

                        <ng-container matColumnDef="deta">
                            <th mat-header-cell *matHeaderCellDef> Detalle </th>
                            <td mat-cell *matCellDef="let element"><button mat-fab color="none" class="custom-fab"
                                    [routerLink]="['/proform/detail/', element.form_id]">
                                    <i class="fa-solid fa-circle-chevron-right"></i>
                                </button></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>

        </div>
    </div>
    ¿
</ng-container>

<ng-template #loading>
    <div class="justify-center content-center text-[20px] w-[70%] mx-auto mt-[40px]">
        <p>Loading.......</p>
    </div>
</ng-template>