<app-banner [login]="true"></app-banner>
<ng-container *ngIf="dataProform$| async as prof">
        <div class="back">
            <div class="container">
                <header>Lista de Proformas</header>
                <div class="cards-container">
                    <table>
                        <tr>
                            <th>Código</th>
                            <th>DNI Cliente</th>
                            <th>Asesor</th>
                            <th>Fecha</th>
                            <th>Precio del inmueble</th>
                            <th>Detalle</th>
                        </tr>
                        <tr *ngFor="let pro of prof">
                          <td>{{ pro.form_id }}</td>
                          <td>{{ pro.client_id }}</td>
                          <td>{{ pro.asesor }}</td>
                          <td>{{ pro.fecha | date:'shortDate' }}</td>
                          <td>{{ pro.currency.split(' ')[0]}} {{ pro.price }}</td>
                          <td><button mat-fab color="none" class="custom-fab">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </td>
                        </tr>
                    
                    </table>

                </div>

            </div>
        </div>
¿
</ng-container>

<ng-template #loading>
    <div class="justify-center content-center text-[20px] w-[70%] mx-auto mt-[40px]">
        <p>Loading.......</p>
    </div>
</ng-template>
