<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-content">
        <img src="../../../assets/login.png" alt="representacion-login">
      </div>
    </div>


    <div class="col-md-6">

      <div class="logo">
        <img src="../../../assets/logo-fondo.png" alt="logo-con-fondo">
        <div> <span> Registro</span> </div>
      </div>

      <div class="form-container">
        <form [formGroup]="formInfo" (ngSubmit)="sendForm()">

          <div class="row-1">
            <!------------------------------Nombres--------------------------------------->
            <div class="input-1">
              <label>Nombres</label>
              <input formControlName="name" type="text" class="form-control" />

            </div>

            <div *ngIf="
            formInfo.get('name')?.hasError('required') &&
              formInfo.get('name')?.touched
            ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>
            <div *ngIf="formInfo.get('name')?.hasError('maxlength')">
              <span class="mda-form-msg">
                Este campo debe tener como máximo 20 caracteres
              </span>
            </div>
            <!------------------------------Apellidos--------------------------------------->
            <div class="input-1">
              <label>Apellidos</label>
              <input formControlName="lastName" type="text" class="form-control" />

            </div>

            <div *ngIf="
                       formInfo.get('lastName')?.hasError('required') &&
                       formInfo.get('lastName')?.touched
                       ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>
            <div *ngIf="formInfo.get('lastName')?.hasError('maxlength')">
              <span class="mda-form-msg">
                Este campo debe tener como máximo 20 caracteres
              </span>
            </div>
            <!------------------------------Usuario--------------------------------------->
            <div class="input-1">
              <label>Usuario</label>
              <input formControlName="username" type="text" class="form-control" />

            </div>

            <div *ngIf="
                     formInfo.get('username')?.hasError('required') &&
                     formInfo.get('username')?.touched
                     ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>

            <!------------------------------Compañia--------------------------------------->

            <div class="input-1">
              <label>Compañia</label>
              <input formControlName="company" type="text" class="form-control" />

            </div>

            <div *ngIf="
                      formInfo.get('company')?.hasError('required') &&
                      formInfo.get('company')?.touched
                      ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>

            <!------------------------------Email--------------------------------------->


            <div class="input-1">
              <label>Correo</label>
              <input formControlName="email" type="text" class="form-control" aria-describedby="emailHelp">
            </div>

            <div *ngIf="
                   formInfo.get('email')?.hasError('required') &&
                   formInfo.get('email')?.touched
                   ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>
            <div *ngIf="formInfo.get('email')?.hasError('email')">
              <span class="mda-form-msg">
                Este campo no tiene formato de correo
              </span>
            </div>
            <!------------------------------Contraseña--------------------------------------->

            <div class="input-1">
              <label>Contraseña</label>
              <input formControlName="password1" type="password" class="form-control">
            </div>

            <div *ngIf="
            formInfo.get('password1')?.hasError('required') &&
            formInfo.get('password1')?.touched
            ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>
            <!------------------------------Contraseña--------------------------------------->

            <div class="input-1">
              <label>Repita Contraseña</label>
              <input formControlName="password2" type="password" class="form-control">
            </div>

            <div *ngIf=" 
            formInfo.get('password2')?.hasError('required') &&
            formInfo.get('password2')?.touched ">
              <span class="mda-form-msg"> Este campo es obligatorio </span>
            </div>



            <div class="btn-send">
              <button type="submit">
                <span>Registrar</span>
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>