
<div class="header-container">
    <img src="../../../assets/logo_mivivienda.png" alt="logo-mivivienda">
</div>

<div class="clearfix"></div>

<section class="section-container">

    <div class="row">

        <div class="col-md-6 col-sm-6">

            <div class="container-what">

                <div class="cont-what-title">
                    <span>¿QUÉ ES?</span>
                </div>
                <p>Es un crédito hipotecario que te permite comprar cualquier vivienda, construir en terreno propio
                    o
                    aires independizados y mejorar tu vivienda.</p>

            </div>

            <div class="buttons-content">
                <button class="btn-content" [routerLink]="['/client/register-client']">
                    <span>Nuevo Cliente</span>
                </button>
                <button class="btn-content" [routerLink]="['/client/edit-client']">
                    <span>Ver/Editar Cliente</span>
                </button>
                <button class="btn-content" [routerLink]="['/proform/register-proform']">
                    <span>Nuevo Proforma</span>
                </button>
                <button class="btn-content" [routerLink]="['/proform/edit-proform']">
                    <span>Ver/Editar Proforma</span>
                </button>
            </div>

        </div>

        <div class="col-md-6 col-sm-6">
            <div class="content">
                <div class="content-title">
                    <div class="container-title">
                        <span>Requisitos</span>
                    </div>
                </div>
                <div class="icons-content">
                    <div class="icons">
                        <i class="fa-solid fa-circle-plus fa-flip"></i>
                        <span> Ser mayor de edad.</span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-circle-dollar-to-slot fa-flip"></i>
                        <span> Contar con una cuota inicial mínima del 7.5% del valor de la vivienda.</span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-credit-card fa-flip"></i>
                        <span> No tener créditos pendientes de pago con el FMV.</span>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-house-chimney-window fa-flip"></i>
                        <span> No ser propietario ni copropietario de otra vivienda a nivel nacional.</span>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-list-check fa-flip"></i>
                        <span> Ser calificado por la Entidad Financiera.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>