* {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.back{
    display: flex;
    padding: 5% 20px;
    background: whitesmoke;
    justify-content: center;
}
.container{
    position: relative;
    width: 90%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header {
    position: relative;
    font-size: 30px;
    color: #333;
    text-align: center;
    font-weight: bolder;
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.container form .form {
    position: absolute;
    width: 100%;
    background-color: white;
    transition: 0.3s ease;
}

.form-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.container form .form-first.element {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    color: #333;
}

.container form .fields {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    width: calc(100% / 2 - 15px);
    flex-direction: row;
}

.input-field label {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    margin-right: 15px;
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    padding: 0 15px;
    height: 30px;
    width: 80%;
    margin: 8px 0;
    background-color: #F2F2F2;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}
button {
    border-radius: 15px;
    height: 45px;
    width: 200px;
    border: 1px solid #dfdfdf;
    margin-left: 15px;
    background-color: #bdce42;
    cursor: pointer;
}
button:disabled{
    background-color: #fcf8f8;
    cursor:default;
}

.message-error{
    color: red;
    font-size: 13px;
}

@media (max-width: 900px) {
    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }

    .input-field {
        display: flex;
        flex-direction: column;
    }

    .input-field label {
        text-align: start;
        font-size: 14px;
        margin-right: 0;
    }

    .element {
        width: 100%;
        margin: 0 35px;
    }

    .boton-guardar {
        margin: 0 35px;
    }
}

@media (max-width: 600px) {
    form .fields .input-field {
        width: 100%;
    }

    .input-field {
        display: flex;
        flex-direction: column;
    }

    .element {
        width: 100%;
        margin: 0 40px;
    }

    .form-first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
    }

    .input-field label {
        text-align: start;
        font-size: 13px;
        margin-right: 0;
    }

    .boton-guardar {
        margin: 0 auto;
    }
}