<body>
    <div class="container">
        <header>Registro de Cliente</header>
        <form>
            <div class="form-first">
                <div class="element">
                    <span class="title">Información personal</span>

                    
                        <div class="input-field">
                            <label>Nombres</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Apellidos</label>
                            <input type="text"  required>
                        </div>

                        <div class="input-field">
                            <label>DNI</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" required>
                        </div>

                        <div class="input-field">
                            <label>Nacionalidad</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Sexo</label>
                            <select required>
                                <option disabled selected>Seleccionar</option>
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option>Otros</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Teléfono Personal</label>
                            <input type="text" required>
                        </div>

                        <div class="input-field">
                            <label>Estado Civil</label>
                            <select required>
                                <option disabled selected>Seleccionar</option>
                                <option>Soltero</option>
                                <option>Casado</option>
                                <option>Soltero</option>
                                <option>Divorciado</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Domicilio</label>
                            <input type="text" required>
                        </div>

                        <button class="nextBtn">
                            <span class="btnText">Guardar</span>
                        </button>

                    
                </div>

                <div class="element">
                    <span class="title">Información del cónyuge</span>

                    <div class="input-field">
                        <label>Nombres</label>
                        <input type="text" required>
                    </div>

                    <div class="input-field">
                        <label>Apellidos</label>
                        <input type="text"  required>
                    </div>

                    <div class="input-field">
                        <label>DNI</label>
                        <input type="text" required>
                    </div>

                    <div class="input-field">
                        <label>Teléfono Personal</label>
                        <input type="text" required>
                    </div>

                    <div class="input-field">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" required>
                    </div>

                    <span class="title">Información laboral</span>

                    <div class="input-field">
                        <label>Profesión</label>
                        <input type="text" required>
                    </div>

                    <div class="input-field">
                        <label>Empleador</label>
                        <input type="text" required>
                    </div>

                    <div class="input-field">
                        <label>Estimado de ingresos mensuales netos</label>
                        <input type="number" required>
                    </div>

                </div> 
            </div>
        </form>
    </div>
</body>
