/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h1, .mat-typography h3, .mat-typography h2, .mat-typography h4 {
    margin: 0;
    padding: 0;
}